.btcontainer-gdm {
  position: fixed;
  right: 0%;
  bottom: 10%;
  display: inline;
  width: 50px;
  height: 50px;
  z-index: 1000000;
}

.menu-item-gdm, .menu-open-button-gdm {
  background: #d47f00;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 50px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}
.menu-open-gdm {
  display: none;
}
.linemenu-gdm {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}
.linemenu-gdm-1 {
  transform: translate3d(0, -8px, 0);
}
.linemenu-gdm-2 {
  transform: translate3d(0, 0, 0);
}
.linemenu-gdm-3 {
  transform: translate3d(0, 8px, 0);
}
.menu-open-gdm:checked + .menu-open-button-gdm .linemenu-gdm-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open-gdm:checked + .menu-open-button-gdm .linemenu-gdm-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open-gdm:checked + .menu-open-button-gdm .linemenu-gdm-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu-item-gdm:hover {
  cursor: pointer;
}
.menu-item-gdm:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item-gdm:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item-gdm:nth-child(5) {
  transition-duration: 180ms;
}
.menu-open-button-gdm {
  z-index: 1;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button-gdm:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open-gdm:checked + .menu-open-button-gdm {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open-gdm:checked ~ .menu-item-gdm {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open-gdm:checked ~ .menu-item-gdm:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(-70px, 0, 0);
}
.menu-open-gdm:checked ~ .menu-item-gdm:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(-140px, 0, 0);
}
.menu-open-gdm:checked ~ .menu-item-gdm:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(-210px, 0, 0);
}
.dmaudio {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='red' class='bi bi-music-note-beamed' viewBox='0 0 16 16'%3E%3Cpath d='M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z'/%3E%3Cpath fill-rule='evenodd' d='M14 11V2h1v9h-1zM6 3v10H5V3h1z'/%3E%3Cpath d='M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.dmvideo {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' fill='red' class='bi bi-film' viewBox='0 0 16 16'%3E%3Cpath d='M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}